<%- include ("../includes/navigation.ejs") -%>

    <main>
       <h1>Welcome Home</h1>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%- include ("../includes/end.ejs") -%>